click
enum-compat
enum34
eventlet==0.30.2
Flask
Flask-SocketIO==4.3.2
gevent
gevent-websocket
greenlet
gunicorn
itsdangerous
Jinja2
MarkupSafe
numpy
olefile
opencv-python
python-engineio==3.14.2
python-socketio==4.6.1
redis
six
Werkzeug

ipython

sklearn
